{% extends 'base.html' %}
{% block content %}


<!-- <form action = 'register' method = 'post'> -->
  <form action = '{% url "user-register" %}' method = 'post'>
  {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" class="form-control" name = "name" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">DOB</label>
      <input type="date" class="form-control" name="dob" id="exampleInputPassword1">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}